body {
  background-color: #202f7d;
}

.title {
  color: #b1f3ff;
  font-weight: bolder;
  text-align: center;
  margin: 3rem;
  transform: rotateZ(-10deg);
  transition-duration: 1s;
}

.title:hover{
  transform: rotateZ(10deg);
}

.input {
  display: flex;
  justify-content: center;
}

.name {
  padding: 0.5rem 4rem;
  border-radius: 1rem;
  text-align: center;
    box-shadow: 0px 2px 4px #00d7ff;
    border: none;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.start {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: grey;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  transition-duration: 1s;
}

.start:hover {
  background-color: #34e4eb;
  transform: scale(1.1);
}

.down {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rightImg {
  position: absolute;
  right: 0;
  color: aliceblue;
    background: aqua;
    border-radius: 2rem;
    box-shadow: 0px 2px 4px black;
}

.leftImg{
  color: aliceblue;
    background: aqua;
    border-radius: 2rem;
    box-shadow: 0px 2px 4px black;
}

.bottomImg {
  width: 100%;
}
