.QnA {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 3rem;
  background-color: rgb(244 221 170);
  border-radius: 18px;

  text-align: center;
  border: 2px solid gray;
}

.option {
  background-color: white;
  border-radius: 1rem;
  min-width: 30rem;
  padding: 1rem 3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1.5rem;
  transition-duration: 1s;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.option:hover {
  transform: scale(1.1);
}

.questionNo {
  font-size: 2rem;
  color: black;
  padding: 1rem 2rem;
  border: 2px solid black;
  background-color: lightgreen;
}

.pagNo {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.green {
  background-color: greenyellow;
}

.wrong {
  background-color: red;
}

.attempted {
  background-color: salmon;
}

.left {
  position: absolute;
  top: 50%;
  margin-left: 5rem;
  transition-duration: 1s;
}

.left:hover{
  transform: scale(1.2);
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 5rem;
  transition-duration: 1s;
  
}

.right:hover{
  transform: scale(1.2);
}

.flag {
  position: relative;
  top: 6.2rem;
  left: 5rem;
}

.flagged {
  background-color: rgb(255, 247, 0);
}

.skip {
  position: absolute;
  top: 6.2rem;
  right: 20%;
  transition-duration: 1s;
}

.skip:hover{
  transform: scale(1.1);
}

.disable {
  pointer-events: none;
}

.end {
  display: inline-block;
  position: absolute;
  top: 49rem;
  right: 45%;
  font-size: 1.1rem;
  color: white;
  background: black;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin: 2rem;
  transform: rotateZ(-15deg);
  transition-duration: 1s;
}

.end:hover{
  transform: rotateZ(15deg);
}

@media (max-width: 576px) {
  .end {
    top: 39rem;
    right: 30%;
    margin-bottom: 1rem;
  }

  .flag {
    position: relative;
    top: 4rem;
    left: 10%;
  }
  .skip {
    position: absolute;
    top: 4rem;
    right: 10%;
  }
  .question {
    font-size: 1rem;
    padding: 1rem;
  }
  .option {
    min-width: 15rem;
    padding: 0.5rem 3rem;
    margin: 1rem;
  }
  .pagNo {
    margin: 6rem 4rem;
    display: block;
    overflow-x: auto;
    padding: 1.2rem 0;
  }
  .left {
    top: 27rem;
  }
  .right {
    top: 27rem;
  }
}

@media (min-width: 576px) and (max-width: 876px) {
  .end {
    top: 39rem;
    right: 40%;
    margin-bottom: 1rem;
  }

  .flag {
    position: relative;
    top: 5rem;
    left: 10%;
  }
  .skip {
    position: absolute;
    top: 5rem;
    right: 10%;
  }
  .question {
    font-size: 2rem;
    padding: 0.5rem 0;
  }
  .option {
    min-width: 24rem;
    padding: 0.5rem 3rem;
    margin: 1rem;
  }
  .pagNo {
    margin: 3rem 4rem;
    display: block;
    overflow-x: auto;
    padding: 1.2rem 0;
  }
  .left {
    top: 18rem;
    margin-left: 10%;
  }
  .right {
    top: 18rem;
    margin-right: 10%;
  }
}

@media (min-width: 876px) and (max-width: 1024px) {
  .end {
    right: 40%;
  }
}
