.result {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset {
  font-size: 1.1rem;
  color: white;
  background: blueviolet;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin: 1rem;
}
